{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %}

{% block content %}
<p>
  Welcome to ProfitPulse, a thriving small company based in the vibrant city of Austin, Texas. What began as a
  passion project between a father and son has blossomed into a dynamic platform for tracking and managing stock
  portfolios. Born out of the son's keen interest in entrepreneurship, our mission is to provide individuals with the
  tools they need to navigate the exciting world of investing. Join us on this journey as we combine our family roots
  and entrepreneurial spirit to empower investors everywhere.
</p>
{% endblock %}