<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Folio Manager - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/nav.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/static/stuff.js"></script>
    {% endblock %}
  </head>
  <body>
    <div class="navbar">
      <span class="righty">

        <a href="/register"> Register </a>
        <a href="/login"> Login </a>
      </span>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/features">Features</a>
      <a href="/faq">FAQ</a>
      <a href="/contact">Contact</a>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %} &copy; Copyright 2023 by
      <a href="http://example.com/">Fenix & Jesse Wiles</a> {% endblock %}
    </div>
  </body>
</html>
