{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %}

{% block content %}
<div class="welcome">
  <p>
    Welcome to ProfitPulse, your ultimate destination for tracking and managing your stock portfolio. We're dedicated
    to providing you with a seamless and intuitive platform to monitor your investments, make informed decisions, and
    stay on top of market trends. With our user-friendly interface and comprehensive set of tools, we aim to empower
    investors of all levels to take charge of their financial journey. Start exploring ProfitPulse today and unlock
    the potential of your stock portfolio like never before.
    <br>
  <p>
    Follow the steps below to create your account today!
  </p>
  <ol>
    <li>
      Sign Up: Click on the "Register" button on our homepage and fill out the registration form with your
      name, email
      address, and a secure password.
    </li>

    <li>
      Verify Your Email: Check your inbox for a verification email from us. Click on the provided link to
      confirm your
      account.
    </li>
    <li>
      Customize Your Profile: Personalize your profile by adding information such as your investing goals or
      interests.
    </li>

    <li>
      Explore Your Dashboard: Once you're signed in, take a moment to familiarize yourself with the dashboard.
      Explore the
      features and tools available to track your portfolio, access market data, and analyze performance.
    </li>
    <li>
      Connect Your Brokerage Account (Optional): If you have an existing brokerage account, you may have the
      option to
      link it to your account for seamless portfolio tracking. Follow the instructions provided to connect your
      brokerage
      account if desired.
    </li>
  </ol>
</div>
{% endblock %}