{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %}

{% block content %}
<div class="welcome">
  <h1 class="welcome-header">
    Welcome To ProfitPulse
  </h1>
  <p class="welcome1">
    ProfitPulse is your ultimate destination for tracking and managing your stock portfolio. We're dedicated
    to providing you with a seamless and intuitive platform to monitor your investments, make informed decisions, and
    stay on top of market trends. With our user-friendly interface and comprehensive set of tools, we aim to empower
    investors of all levels to take charge of their financial journey. Start exploring ProfitPulse today and unlock
    the potential of your stock portfolio like never before.
  </p>
  <br>
  <h2 class="welcome-header">
    Why Us?
  </h2>
  <h4 class="welcome-header">
    EFFICIENT. INFORMATIVE. INTUITIVE.
  </h4>
  <br>
  <h2 class="welcome-header">
    The Objective
  </h2>
  <h4 class="welcome-header">
    To make tracking investments and Portfolio Performance Analysis worry-free.
  </h4>
</div>
<div class="images">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnhZ95amaPSkXp1wBAO00D5TbANoIVrBUrymwRWCv5Ge0PbDKMu5s7w15hzFZ8ndEHuxk&amp;usqp=CAU"
    class="rg_i Q4LuWd" jsname="Q4LuWd" width="320" height="158"
    alt="Home | Wealthy Education - Investing Strategies That Work!" data-iml="13800.5">
</div>
{% endblock %}