{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %}

{% block content %}
<div class="welcome">
  <p>
    Welcome to ProfitPulse, your ultimate destination for tracking and managing your stock portfolio. We're dedicated
    to providing you with a seamless and intuitive platform to monitor your investments, make informed decisions, and
    stay on top of market trends. With our user-friendly interface and comprehensive set of tools, we aim to empower
    investors of all levels to take charge of their financial journey. Start exploring ProfitPulse today and unlock
    the potential of your stock portfolio like never before.
</div>
{% endblock %}