{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %}

{% block content %}
<div class="registration-widget">
  <h2>Registration</h2>
  <form action="/register" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="verify_password">Verify Password:</label>
    <input type="password" id="verify_password" name="verify_password" required>

    <button type="submit">Register</button>
  </form>
</div>
{% endblock %}
